@font-face {
    font-family: 'gibson';
    src: url(Gibson-Bold.otf)('opentype');
    font-weight: bold;
    
}
@font-face {
    font-family: "gibson";
    src: url(Gibson-Regular.otf)('opentype');
    font-weight: 400;
    
}
@font-face {
    font-family: "gibson";
    src: url(Gibson-Light.otf)('opentype');
    font-weight: 100;
    
}

@font-face {
    font-family: "gibson";
    src: url(Gibson-SemiBold.otf)('opentype');
    font-weight: 600;
    
}



/* *{
    box-sizing: border-box;
    border: green 1px solid;
} */

body{
    /* border: solid rgb(0, 0, 0) 5px; */
    height: 1080px;
    width: 1920px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0px;
    background-color: white;
}

.fade-on{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(38,38,38,1) 90%, rgba(255,255,255,0) 100%);
    height: 1080px;
    width: 4000px;
    position: absolute;
    z-index: 6;
    margin: 0px;
    display: block;
}
.fade-off{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(38,38,38,1) 10%, rgba(0,0,0,1) 100%);
    height: 1080px;
    width: 4000px;
    position: absolute;
    z-index: 5;
    margin: 0px;
    display: block;
}

/* Product images */
img{
    width: 55%;
}


.product-images{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    bottom: 510px;
    
}

#center-image{
    z-index: 1;
    position: absolute;
    left: 190px;
    top: -30px;
    width: 58%;
}

#left-image{
    z-index: -1;
    position: absolute;
    top: -30px;
}

#right-image{
    z-index: -1;
    position: absolute;
    left: 420px;
    top: -30px;

}

/* deal copy */
.mask{
    position: absolute;
    top: 50px;
    left: -145px;
    display: block;
    width: 520px;
    z-index: 0;
    rotate: 0.5deg;
    /* border: solid black 1px; */
}
.price-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 70px;
    
}
#money-value{
    z-index: -10;
    position: relative;
}

div>span{
    font-family: 'gibson';
}

.price{
    font-size: 350px;
    font-weight: 600;
    margin-top: -30px;
}
#slash{
    font-weight: 100;
    color: #ed1c2c;
    display: inline-block;
    transform: rotate(-12deg);
    z-index: 2;
    margin: -30px;
}

#money-sign{
    font-size: 140px;
    position: relative;
    bottom: 140px;
    z-index: -1;
}

.deal-copy{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 1px;
}

div>p{
    font-family: 'gibson';
    font-weight: 400;
    font-size: 60px;
    margin: 0px;
    letter-spacing: 1px;
}

/* points circle */

.points-circle{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    margin: 20px; 
}

.points-circle-container{
    width: 90%;
    margin-bottom: -20px;
    margin-right: 100px;
    grid-column: 2/3;
    /* border: black 1px solid; */

}

.container-circle{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.circle-background-red{
    background-color: #ed1c2c;
    position: relative;
    border-radius: 100%;
    z-index: -2;
    grid-column: 1/2;
    grid-row: 1/2;
}

.circle-background-white{
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 85%;
    border-radius: 100%;
    z-index: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.circle-border{
    opacity: 0%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;

}

.points-logo{
    width: 55%;
    align-self: center;
    justify-self: center;
    position: relative;
    top: 110px;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 4;
}

.text-container{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    z-index: 3;
    width: 80%;
}

.top-text{
    font-family: 'gibson';
    font-weight: 500;
    font-size: 32px;
    margin: 0px;
    padding: 0px;
}

.points{
    font-family: 'gibson';
    font-weight: 700;
    font-size: 70px;
    padding:  0px;
    margin-bottom: -5px;
}

.bottom-text{
    font-family: 'gibson';
    font-weight: 600;
    font-size: 32px;
    margin: 0px;
    padding: 0px;

}

.pp-mask{
    display: hidden;
    position: relative;
    left: 50px;
    bottom: 115px;
    z-index: 1;
    scale: 233%;
}

/* .circle-background-white-top{
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 85%;
    border-radius: 100%;
    z-index: 4;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    border: green solid 4px;
} */

/* disclaimer */

.disclaimer-container{
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 130px;
    z-index: 10;
}

.disclaimer{
    font-family: 'gibson';
    font-size: 28px;
    margin: 3px 0px 0px 70px;
}

section>span{
    font-family: 'gibson';
    font-size: 20px;
    margin: 20px 0px 0px 70px;
}


/* Anitmations */

#left-image{
    animation-duration: 7s;
    animation-name: swing-on-screen;
    animation-iteration-count: infinite;
    animation-delay: 50ms;
    animation-timing-function: cubic-bezier(.38,0,.29,1);
}
#right-image{
    animation-duration: 7s;
    animation-name: swing-on-screen;
    animation-iteration-count: infinite;
    animation-delay: 250ms;
    animation-timing-function: cubic-bezier(.38,0,.29,1);
}

#center-image{
    animation-duration: 7s;
    animation-name: swing-on-screen;
    animation-iteration-count: infinite;
    animation-delay: 150ms;
    animation-timing-function: cubic-bezier(.38,0,.29,1);
}

@keyframes swing-on-screen {
    from{
        transform: translate(-150px, 1200px)rotate(90deg);;
        
    }
    20%{
        transform: translate(-150px, 1200px)rotate(90deg)
    }
    35%{transform: translate(0px, 0 )rotate(0deg)
        
    }

    to {

    }
}

.disclaimer{
    animation-duration: 7s;
    animation-name: fade-on;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
.trade-mark{
    animation-name: fade-on;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    
}

@keyframes fade-on {
    from{
        opacity: 0;
        
    }
    35%{
        opacity: 0;
    }
    55%{
        opacity: 1;
    }
    to {

    }
}


#slash{
    animation-duration: 7s;
    animation-name: slide-on-slash;
    animation-iteration-count: infinite;
    animation-delay: 170ms;
    animation-timing-function: ease-in-out;
}
@keyframes slide-on-slash {
    from{
        transform: translate(-500px,0)rotate(-36deg);;
        
    }
    22%{
        transform: translate(0, 0 )rotate(-12deg);;
    }
    to {

    }
}


#money-value{
    animation-duration: 7s;
    animation-name: slide-on-price;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 600ms;
    display: inline-block;
}

#money-sign{
    animation-duration: 7s;
    animation-name: slide-on-price;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 650ms;
    display: inline-block;
}
.product-number{
    animation-duration: 7s;
    animation-name: slide-on-price;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 270ms;
    display: inline-block;
}



@keyframes slide-on-price {
    from{
        transform: translate(-1000px,0);
        
    }
    23%{
        transform: translate(0, 0 );
    }
    to {

    }
}

.deal-copy{
    animation-duration: 7s;
    animation-name: slide-on-text;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: inline-block;
}
.line-one{
    animation-duration: 7s;
    animation-name: slide-on-text;
    animation-delay: 125ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: inline-block;
}


.line-two{
    animation-duration: 7s;
    animation-name: slide-on-text;
    animation-iteration-count: infinite;
    animation-delay: 250ms;
    animation-timing-function: ease-in-out;
    display: inline-block;
}


@keyframes slide-on-text {
    from{
        transform: translate(-1000px,0);
        
    }
    7%{
        transform: translate(-1000px,0);
    }
    27%{
        transform: translate(0, 0 );
    }
    to {

    }
}

.fade-on{
    animation-duration: 7s;
    animation-name: slide-on-grad;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes slide-on-grad {
    from{
        transform: translate(400,0);
        
    }
    15%{
        transform: translate(-4000px, 0 );
    }
    to {
        transform: translate(-4000px, 0 )

    }
}

.fade-off{
    animation-duration: 7s;
    animation-name: slide-off-grad;
    animation-iteration-count: infinite;

    animation-timing-function: ease-in-out;
    
}

@keyframes slide-off-grad {
    from{
        transform: translate(4000px,0);
        
    }
    85%{
        transform: translate(4000px, 0 );
    }
    to {
        transform: translate(-500px, 0 )

    }
}






/* .circle-border{
    animation-duration: 7s;
    animation-name: fade-on-circle-border;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.64,0,.54,1);
}

@keyframes fade-on-circle-border {
    from{
        opacity: 0;
        
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    55%{
        opacity: 0;

    }
    to {

    }
} */

.circle-background-white{
    animation-duration: 7s;
    animation-name: slide-up-white;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.64,0,.54,1);
}

@keyframes slide-up-white {
    from{
        transform: translate(0px,210px);
    }
    42%{
        transform: translate(0px,210px)
    }
    49% {
        transform: translate(0px,-0px)
    }
    to {

    }
}


.circle-background-red{
    animation-duration: 7s;
    animation-name: slide-up-red;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.64,0,.54,1);
}

@keyframes slide-up-red {
    from{
        transform: translate(0px,230px);
    }
    40%{
        transform: translate(0px,230px)
    }
    47% {
        transform: translate(0px,-0px)
    }
    to {

    }
}


.text-container{
    animation-duration: 7s;
    animation-name: fade-on-pp-text;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fade-on-pp-text {
    from{
        opacity: 0;
    }
    47%{
        opacity: 0;
    }
    57% {
        opacity: 1;
    }
    to {

    }
}

.points-logo{
    animation-duration: 7s;
    animation-name: scale-pp-logo;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.64,0,.54,1);
}

@keyframes scale-pp-logo {
    from{
        transform: scale(0,0);
    }
    42%{
        transform: scale(0,0); 
    }
    49% {
        transform: scale(1.4,1.4)
    }
    54% {
        transform: scale(1.0,1.0)
    }
    to {
        ransform: scale(1.0,1.0)
    }
}