@font-face {
    font-family: "gibson";
    src: url(/fonts/Gibson-Bold.otf);
    font-weight: bold;
    
}
@font-face {
    font-family: "gibson";
    src: url(/fonts/Gibson-Regular.otf);
    font-weight: 300;
    
}
@font-face {
    font-family: "gibson";
    src: url(/fonts/Gibson-Light.otf);
    font-weight: 100;
    
}
@font-face {
    font-family: "gibson";
    src: url(/fonts/Gibson-SemiBold.otf);
    font-weight: 700;
    
}

*{
    /* box-sizing: border-box;
    border: green 1px solid; */
}

body{
    border: solid rgb(0, 0, 0) 5px;
    height: 1080px;
    width: 1920px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Product images */
img{
    width: 55%;
}


.product-images{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    bottom: 510px;
    
}

#center-image{
    z-index: 1;
    position: absolute;
    left: 190px;
    top: -30px;
    width: 58%;
}

#left-image{
    z-index: -1;
    position: absolute;
    top: -30px;
}

#right-image{
    z-index: -1;
    position: absolute;
    left: 420px;
    top: -30px;

}

/* deal copy */
.price-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 70px;
    
}

div>span{
    font-family: 'gibson';
}

.price{
    font-size: 350px;
    font-weight: bold;
    margin-top: -30px;
}
#slash{
    font-weight: 100;
    color: red;
    display: inline-block;
    transform: rotate(-12deg);
    z-index: 2;
    margin: -30px;
}

#money-sign{
    font-size: 140px;
    position: relative;
    bottom: 140px;
}

.deal-copy{
    font-weight: 100;
    text-transform: uppercase;
    font-size: 60px;
}

div>p{
    font-family: 'gibson';
    font-weight: 100;
    font-size: 60px;
    margin: 0px;
}

/* points circle */

.points-circle{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    justify-content: flex-end;
}

#petro-puck{
    width: 340px;
    margin-bottom: -20px;
    margin-right: 100px;

}

/* disclaimer */

.disclaimer-container{
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.disclaimer{
    font-family: 'gibson';
    font-size: 28px;
    margin: 3px 0px 0px 70px;
}

section>span{
    font-family: 'gibson';
    font-size: 20px;
    margin: 20px 0px 0px 70px;
}


/* Anitmations */

#left-image{
    animation-duration: 7s;
    animation-name: swing-on-screen;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 50ms;
    animation-timing-function: cubic-bezier(.54,.07,.3,1.01);
}
#right-image{
    animation-duration: 7s;
    animation-name: swing-on-screen;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 250ms;
    animation-timing-function: cubic-bezier(.54,.07,.3,1.01);
}

#center-image{
    animation-duration: 7s;
    animation-name: swing-on-screen;
    animation-iteration-count: infinite;
    animation-direction:  alternate;
    animation-delay: 150ms;
    animation-timing-function: cubic-bezier(.54,.07,.3,1.01);
}

@keyframes swing-on-screen {
    from{
        transform: translate(-150px, 1200px)rotate(90deg);;
        
    }
    18%{transform: translate(0px, 0 )rotate(0deg)
        
    }

    to {

    }
}

.disclaimer{
    animation-duration: 3s;
    animation-name: fade-on;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;

}


@keyframes fade-on {
    from{
        opacity: 0;
        
    }
    50%{
        opacity: 1;
    }
    to {

    }
}


#slash{
    animation-duration: 3s;
    animation-name: slide-on-slash;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-timing-function: ease;
}
@keyframes slide-on-slash {
    from{
        transform: translate(-500px,0)rotate(-26deg);;
        
    }
    30%{
        transform: translate(-80px, 0 )rotate(-26deg);;
    }
    50%{
        transform: translate(0, 0 )rotate(-12deg);;
    }
    to {

    }
}

.money-value{
    animation-duration: 3s;
    animation-name: slide-on-price;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 00ms;
    display: inline-block;
}

#money-sign{
    animation-duration: 3s;
    animation-name: slide-on-price;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 100ms;
    display: inline-block;
}
.product-number{
    animation-duration: 3s;
    animation-name: slide-on-price;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    display: inline-block;
}



@keyframes slide-on-price {
    from{
        transform: translate(-1000px,0);
        
    }
    50%{
        transform: translate(0, 0 );
    }
    to {

    }
}
